:root {
    --background: #1f2937;
    --primary: #3882f6;
    --secondary: #e5e7eb;
    --text-light: #f9faf8;
    --text-dark: #1f2937;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 18px;
    color: var(--secondary);
}

/* HEADER */
.header {
    color: var(--text-light);
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.header-links {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
}

/* HERO */
.hero {
    background-color: var(--background);
    color: var(--text-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

.hero-info {
    width: 500px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    font-size: 18px;
    color: var(--secondary);
    padding: 8px;
}

.hero-btn {
    color: var(--text-light);
    background-color: var(--primary);
    padding: 8px 16px;
    border-radius: 10px;
    border: 0px solid var(--primary);
}

.hero-img img {
    height: 300px;
    width: 600px;
    border-radius: 10px;
    border: 5px solid var(--primary);
}

/* INFO */
.info {
    background-color: var(--text-light);
    color: var(--text-dark);
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 32px;
}

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item p {
    width: 300px;
    text-align: center;
    padding-top: 8px;
}

.item img {
    height: auto;
    width: 300px;
    border-radius: 10px;
    border: 5px solid var(--primary);
}

/* QUOTE */
.quote {
    background-color: var(--secondary);
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}

/* CALL TO ACTION */
.call-to-action {
    color: var(--text-light);
    background-color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.cta-container {
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    padding: 32px;
    width: 50%;
    border-radius: 10px;
}

.cta-title {
    font-weight: bold;
}

.cta-btn {
    color: var(--text-light);
    font-weight: bold;
    background-color: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--text-light);
    padding: 8px 16px;
}

/* FOOTER */
.footer {
    background-color: var(--background);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}